annotated-types==0.8.0
attrs==26.1.0
btrfsutil==7.1
cbor2==6.1.4
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
contourpy==1.4.0
cryptography==50.0.1
cycler==0.12.1
defusedxml==0.7.1
filelock==3.31.2
fonttools==4.66.0
fsspec==2026.9.0
Glances==4.5.6
gmpy2==2.3.1
idna==3.20
Jinja2==3.1.6
kiwisolver==1.5.1
libtorrent==2.1.1
lit==22.1.8.dev0
MarkupSafe==3.0.3
matplotlib==3.11.2
mpmath==1.4.1
networkx==3.6.1
nftables==0.1
numpy==2.5.3
orjson==3.12.0
packaging==26.3
pandas==2.3.3
pathspec==1.1.1
pillow==12.3.0
platformdirs==4.11.13
pooch==1.9.0
protontricks==1.14.1
psutil==7.2.2
pybind11==3.1.0
pycairo==1.29.1
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
PyGObject==3.56.3
pyparsing==3.3.3
python-dateutil==2.9.0
python-xlib==0.33
pytz==2026.1
PyYAML==6.0.3
pyzstd==0.19.1
Reflector==2023.6.28.0.36.1
requests==2.34.2
scikit_build_core==1.0.3
scipy==1.18.1
shtab==1.12.1
six==1.17.0
sympy==1.14.0
TBB @ file:///startdir/src/build/python/python_build
torch==2.14.0
typing-inspection==0.4.4
typing_extensions==4.16.0
ufw==0.36.2
umu-launcher==1.4.3
urllib3==2.7.0
uv==0.12.19
VapourSynth==79
vdf==4.0
wheel==0.48.0
xxhash==4.0.1
